In [1]:
# Init
import os
import glob
import sys
import pickle

module_path = os.path.abspath(os.path.join("../src/simulicronalpha/"))
if module_path not in sys.path:
    sys.path.append(module_path)

# Imports
import numpy as np
import pandas as pd
import warnings
import multiprocessing
np.set_printoptions(suppress=True)
from numpy import concatenate as c
from numpy import cumsum
import random

In [2]:
# Path to results
resultDir = "/home/siddharth/Documents/Projects/Simulicron/Project_1C/etaVsTR/"

# Add them to a list
resultList = []
for filename in glob.glob(os.path.join(resultDir, '*.pickle')):
    with open(filename, 'rb') as f:
        resultList.append(pickle.load(f))

# Store results in a dataframe
resultDataframe = pd.DataFrame(resultList)

In [8]:
# Perform some data wrangling
resultDataframe[['TranspositionRate_1','TranspositionRate_2']] = pd.DataFrame(resultDataframe.TRate.tolist(), index= resultDataframe.index)
resultDataframe['TEfamilyCN'].apply(pd.Series)

,1,2
0,"(1.0, 1.094, 1.154, 1.272, 1.387, 1.504, 1.556...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,"(1.0, 1.991, 3.917, 7.354, 13.169, 22.188, 33....","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,"(1.0, 1.972, 3.909, 7.536, 14.055, 23.743, 35....","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,"(1.0, 1.444, 1.966, 2.512, 3.34, 4.633, 6.159,...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,"(1.0, 1.922, 3.578, 6.159, 10.872, 18.213, 27....","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...
949,"(1.0, 1.047, 1.143, 1.26, 1.401, 1.627, 1.844,...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
950,"(1.0, 1.163, 1.357, 1.593, 1.775, 2.063, 2.378...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
951,"(1.0, 1.894, 3.417, 5.995, 9.825, 15.752, 23.7...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
952,"(1.0, 1.335, 1.779, 2.319, 3.168, 4.164, 5.637...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
953,"(1.0, 1.602, 2.502, 4.043, 6.401, 9.681, 13.92...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [6]:
resultDataframe

,State,Generatrion,NTE,AvgCopyNum,CopyNumVar,TEfamilyCN,TEfamilyVR,TEfamilyRg,AvgFit,HGTGen,ETA,NTI,Freq,TRate,Tau,selPen,TranspositionRate_1,TranspositionRate_2
0,FLUX,10001,645836,"[1.0, 1.094, 1.154, 1.272, 1.387, 1.504, 1.556...","[0.994, 1.225164, 1.4422840000000001, 1.652015...","{1: (1.0, 1.094, 1.154, 1.272, 1.387, 1.504, 1...","{1: ([0.994], [1.225164], [1.4422840000000001]...","{1: (0.0, 0.003, 0.005, 0.016, 0.014, 0.023, 0...","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.218933,2,"[1.0, 0.8078139560616969]","[0.07321051887859287, 0.12623607707425333]",1.0,0.0,0.073211,0.126236
1,FLUX,10001,569583,"[1.0, 1.991, 3.917, 7.354, 13.169, 22.188, 33....","[1.026, 3.820919000000001, 10.276110999999998,...","{1: (1.0, 1.991, 3.917, 7.354, 13.169, 22.188,...","{1: ([1.026], [3.820919000000001], [10.2761109...","{1: (0.0, 0.037, 0.096, 0.18, 0.285, 0.473, 0....","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.544815,2,"[1.0, 0.8010976206287925]","[0.9679028824159526, 0.6782385628448176]",1.0,0.0,0.967903,0.678239
2,FLUX,10001,431139,"[1.0, 1.972, 3.909, 7.536, 14.055, 23.743, 35....","[0.978, 3.7432160000000003, 11.454719, 28.1187...","{1: (1.0, 1.972, 3.909, 7.536, 14.055, 23.743,...","{1: ([0.978], [3.7432160000000003], [11.454719...","{1: (0.0, 0.014, 0.043, 0.132, 0.302, 0.48, 0....","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.510841,2,"[1.0, 0.48754783875693075]","[0.9960450089563727, 0.10191890402231707]",1.0,0.0,0.996045,0.101919
3,FLUX,10001,437367,"[1.0, 1.444, 1.966, 2.512, 3.34, 4.633, 6.159,...","[0.94, 2.016864, 3.272844, 4.903855999999999, ...","{1: (1.0, 1.444, 1.966, 2.512, 3.34, 4.633, 6....","{1: ([0.94], [2.016864], [3.272844], [4.903855...","{1: (0.0, 0.009, 0.022, 0.047, 0.065, 0.086, 0...","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.609820,2,"[1.0, 0.28894684505770607]","[0.3802660756748293, 0.4212077166174484]",1.0,0.0,0.380266,0.421208
4,FLUX,10001,698684,"[1.0, 1.922, 3.578, 6.159, 10.872, 18.213, 27....","[1.012, 4.115916, 11.353916000000002, 22.68371...","{1: (1.0, 1.922, 3.578, 6.159, 10.872, 18.213,...","{1: ([1.012], [4.115916], [11.353916000000002]...","{1: (0.0, 0.028, 0.086, 0.159, 0.29, 0.451, 0....","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.147553,2,"[1.0, 0.9430843128401835]","[0.9545990537606484, 0.3236547627481926]",1.0,0.0,0.954599,0.323655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,FLUX,10001,322580,"[1.0, 1.047, 1.143, 1.26, 1.401, 1.627, 1.844,...","[1.012, 1.342791, 1.5985509999999998, 1.9144, ...","{1: (1.0, 1.047, 1.143, 1.26, 1.401, 1.627, 1....","{1: ([1.012], [1.342791], [1.5985509999999998]...","{1: (0.0, 0.005, 0.007, 0.008, 0.014, 0.021, 0...","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.256136,2,"[1.0, 0.7478419926901018]","[0.1132166720092449, 0.7399200439469408]",1.0,0.0,0.113217,0.739920
950,FLUX,10001,514543,"[1.0, 1.163, 1.357, 1.593, 1.775, 2.063, 2.378...","[1.008, 1.446431, 2.031551, 2.547351, 2.764375...","{1: (1.0, 1.163, 1.357, 1.593, 1.775, 2.063, 2...","{1: ([1.008], [1.446431], [2.031551], [2.54735...","{1: (0.0, 0.004, 0.013, 0.023, 0.045, 0.05, 0....","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.659700,2,"[1.0, 0.7188676936876206]","[0.18989428144130072, 0.46503249331515184]",1.0,0.0,0.189894,0.465032
951,FLUX,10001,818911,"[1.0, 1.894, 3.417, 5.995, 9.825, 15.752, 23.7...","[1.074, 3.7267639999999997, 9.947111000000001,...","{1: (1.0, 1.894, 3.417, 5.995, 9.825, 15.752, ...","{1: ([1.074], [3.7267639999999997], [9.9471110...","{1: (0.0, 0.035, 0.074, 0.149, 0.248, 0.399, 0...","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.048657,2,"[1.0, 0.06382389829865232]","[0.8547690709148417, 0.5668801395023679]",1.0,0.0,0.854769,0.566880
952,FLUX,10001,426880,"[1.0, 1.335, 1.779, 2.319, 3.168, 4.164, 5.637...","[1.088, 2.036775, 3.4541590000000006, 4.835239...","{1: (1.0, 1.335, 1.779, 2.319, 3.168, 4.164, 5...","{1: ([1.088], [2.036775], [3.4541590000000006]...","{1: (0.0, 0.004, 0.01, 0.029, 0.039, 0.067, 0....","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.854086,2,"[1.0, 0.805023085449955]","[0.333882435429117, 0.10540321095794047]",1.0,0.0,0.333882,0.105403
953,FLUX,10001,638042,"[1.0, 1.602, 2.502, 4.043, 6.401, 9.681, 13.92...","[1.018, 2.5615959999999998, 5.7979959999999995...","{1: (1.0, 1.602, 2.502, 4.043, 6.401, 9.681, 1...","{1: ([1.018], [2.5615959999999998], [5.7979959...","{1: (0.0, 0.027, 0.052, 0.095, 0.168, 0.226, 0...","[1.0000000000000007, 1.0000000000000007, 1.000...",50,0.089989,2,"[1.0, 0.3292873188991896]","[0.6178839711523753, 0.21692849505184353]",1.0,0.0,0.617884,0.216928